@model IEnumerable<FillingStationApp.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Dealer)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

