@model FillingStationApp.Models.User

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col text-center mt-3">
        <h1>
            User Management
        </h1>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-9 col-xs-12">
        <p style="color:red;">@ViewBag.ErrorMessage</p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-9 col-xs-12">
        @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "rounded",id="userForm", style = "border:1px solid blue;padding:25px;" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name)

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Username)

                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter UserName" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @type = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SuperPassword)

                @Html.EditorFor(model => model.SuperPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @type = "Password" } })
                @Html.ValidationMessageFor(model => model.SuperPassword, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <label for="ConfirmPassword">
                    Confirm Password
                </label>
                <input aria-describedby="ConfirmPassword" class="form-control" id="ConfirmPassword" onkeyup="checkPassword()" placeholder="Enter Password Again" type="Password"></input>
                <label id="error" class="form-control" style="display:none;">

                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Type)

                @Html.DropDownListFor(model => model.Type, ViewBag.TypeList as SelectList, new { @class = "form-control",@onchange="hideSuperPassword()" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        }

    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function checkPassword() {
        var cp = document.getElementById("ConfirmPassword").value;
        var p = document.getElementById("Password").value;
        var e = document.getElementById("error");
        if (p != cp) {
            e.style.display = "";
            e.style.color = "red";
            e.innerText = "Passwords do not match";
        }
        else {
            e.style.display = "None";
        }

    }
    function hideSuperPassword() {
        var cp = document.getElementById("Type").value;
        var sp = document.getElementById("SuperPassword");
        if (cp == "Local") {
           $('label[for="SuperPassword"]').hide ();
            sp.style.display = "none";
        }
        else {
           $('label[for="SuperPassword"]').show();

            sp.style.display = "";

        }
    }
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
